<html>
<head>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:600&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<style type="text/css">
      body {
      padding: 1em;
      background-color: #f4f4f4;
      }

      .ui.action.input input[type="file"] {
      display: none;
      }
      #intro_text{
        font-family: 'Source Code Pro', monospace;
        color: #000000;
        margin-right:300px;
        margin-left:300px
      }
      #site_title{
        font-family: 'Source Code Pro', monospace;
        font-size: 25px;
        color: #000000;
        text-align:center;
        margin-top:30px;
      }
</style>
</head>
<body>
  
  <h2 id="site_title">Sub Titles Generator</h2>
  <div style="margin-top:50px">  
          <div class="ui center aligned container" style="margin-top: 30px">
            {% if messages %}
            {% for message in messages %}
                    <div class="ui {{ message.tags }} message">
                    <p>{{message}}</p>
                    </div>
            {% endfor %}
            {% endif %}
        </div>  
  <form method="post" enctype="multipart/form-data" class="ui form" style="text-align:center">
      {% csrf_token %}      
        <p id="intro_text">
          You need to create a sub title for your audio or video file ? just upload your file and our artificial intelligence system will generate the <a href="https://fr.wikipedia.org/wiki/SubRip" target="_blank">SRT</a> file for you.
        </p>
        <div class="ui action input" style="margin-top:30px">
          <input type="text" placeholder="Upload your file" readonly>
          <input type="file" name="myfile" id="myfile" accept=".wav, .mp3">
          <div class="ui icon button">
            <i class="attach icon"></i>
          </div>
        </div>
        <div style="margin-top:10px">
          <button class="ui secondary button" type="submit">Upload</button>
        </div>
  </form>
  </div>    
    {%if uploaded_successfully%}
    <form method="get" enctype="multipart/form-data" action="{%url 'generator:download'%}" style="text-align:center">
      <div style="margin-top:40px">  
        {% csrf_token %}
      <button type="submit" class="ui primary button">Download The Sub Title File</button>
    </form>
    {%endif%}
  </div>

<script type="text/javascript">
  $("input:text").click(function() {
  $(this).parent().find("input:file").click();
});

$('input:file', '.ui.action.input')
  .on('change', function(e) {
    var name = e.target.files[0].name;
    $('input:text', $(e.target).parent()).val(name);
  });
</script>
</body>

</html>